/*font family*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/*scrollbar*/

* {
    scrollbar-color: rgba(223, 223, 223, 0.9) rgba(255, 255, 255, 0);
    scrollbar-width: thin;
}

/*scrollbar*/
body{
    overflow-x: hidden;
}



/**start section homePage style*/

.section_home_head {
height: 100%;
width: 100%;
overflow: hidden;
text-align: center;
background-color: #fffaf3;
font-family: "Rubik", 'sans-serif';

}
.section_home_head  .section_1{
    margin-top: 4%;
    text-align: start;
    margin-left: 4%;
}




.section_home_head  .section_1 .btn_btn{
    background-color: #000;
    color: #fff;
}


.section_home_head  .section_1 h1 {
    color: #000; 
      font-size: 3.75rem;
    line-height: 1.2;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 14%;
    margin-right: 1px;
   }

   .section_home_head  .section_1 h1::selection{
    background-color: #cc0d39;
    color: #fff;
   }
   
.section_home_head  .section_1 span{
    color: #FEEB9D;
    -webkit-text-stroke: 2px #FBBB00;
    -webkit-text-stroke-width:2px ;
    -webkit-text-stroke-color: rgb(251, 187, 0);
}

.section_home_head  .section_1 p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: #000;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 40px;
}

.section_home_head  .section_1 p::selection{
    background-color: #cc0d39;
    color: #fff;
}


.section_home_head  .section_1 .button_btn .Ptn{
margin: 0 10px;
padding: 10px 25px;
margin-bottom: 10%;
}

/*---------------style Product -------------------------*/


.section_home_head  .section_1 .product_card{
    margin-top: 10%;
    display: flex;
}

@media (max-width:559px) {
    .section_home_head  .section_1 .product_card{
        margin-top: 10%;
        display: block;
    } 
}

.section_home_head  .section_1 .product_card  .pro_img img  {
    transition: 0.7s;
    border: 1px solid  #cc0d39;
    width: 120px;
    height: 120px;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
    padding: 20px;
    z-index: 0;
    overflow: visible;
    background-color: #fff;
   }
   .section_home_head  .section_1 .product_card  .pro_img i{
   position: relative;
  left: 70%;
  bottom: 120px;
  background-color: #cc0d39;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;

   }



.section_home_head  .section_1 .product_card .product_card_1{
    display: flex;
   align-items: center;
  
}

.section_home_head  .section_1 .product_card .product_card_1 .tx_content {
    margin-left: 15px;  
      margin-bottom: 7%;
}

.section_home_head  .section_1 .product_card .product_card_1 .tx_content  h1{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-left: 0px;  
}
.section_home_head  .section_1 .product_card .product_card_1 .tx_content h6{
    color: red;
    font-size: 18px;
    margin-left: 0px;  
   
}
.section_home_head  .section_1 .product_card .product_card_1 .tx_content del{
    color: #000;
    font-size: 15px;
}

/*CARD 2*/


.section_home_head  .section_1 .product_card  .pro_img img  {
    transition: 0.7s;
    border: 1px solid  #cc0d39;
    width: 120px;
    height: 120px;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
    padding: 20px;
    z-index: 0;
    overflow: visible;
    background-color: #fff;
   }
   .section_home_head  .section_1 .product_card  .pro_img i{
   position: relative;
  left: 70%;
  bottom: 120px;
  background-color: #cc0d39;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;
   }
   .section_home_head  .section_1 .product_card  .pro_img i:hover{
    background-color: #070707;
    color: #fff;
   }



.section_home_head  .section_1 .product_card .product_card_2{
    display: flex;
   align-items: center;
  
}

.section_home_head  .section_1 .product_card .product_card_2 .tx_content {
    margin-left: 15px;  
      margin-bottom: 7%;
}

.section_home_head  .section_1 .product_card .product_card_2 .tx_content  h1{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
}
.section_home_head  .section_1 .product_card .product_card_2 .tx_content h6{
    color: red;
    font-size: 18px;
   
}
.section_home_head  .section_1 .product_card .product_card_2 .tx_content del{
    color: #000;
    font-size: 15px;
}



/*style card_img */
.section_home_head  .Card_img_im {
    height: 100vh;
    width: 300px;
    background-color: #fff;
    border-radius: 60px ;
}

.section_home_head   .Card_img img {
    height: 85%;
    width: 85%;
    border-radius: 50% ;   
    transition: 0.4s;
    cursor: pointer;
}


.Card_img:hover img{
    transform: scale(1.1);
}

/**end section homePage style*/
/*------------------------------------------------------------------------------*/


/*start section2 slider*/

.Seaction_2{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #Fee89d;
    border-radius: 8px;
}
.Seaction_2  .Card_banner  {
background-color: #fff;
border-radius: 20%;
height: 390px;
width: 100px;
margin-bottom: 20px;
}
.Seaction_2  .Card_banner img{
    width: 300px;
    height: 400px;
border-radius: 30%;
margin-left: 8%;
transition: 0.5s;
margin-bottom: 20px;
}

.Seaction_2  .Card_banner img:hover{
    transform: scale(0.9);
}



/**slider Right style*/

.slider_right{
    background-color: #Fee89d;
    border-radius: 20px;
    margin-top: 20px;
  padding: 5px;
}

.slider_right h3{
text-align: center;
    margin-bottom: 7%;
}

/*end section2 slider*/
/*------------------------------------------------------------------------------*/
/*/**Start section3 Cards*/
  .Section_Cards{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fffaf3;
    position: relative;
}   
.Section_Cards .HeaderText{
    display: flex;
  margin-top:2%;
  margin-bottom:2%;
    justify-content: space-between;
}
.Section_Cards .HeaderText h2{
    font-size: 40px;
    font-weight: 600;
    margin-left: 4%;
}

.Section_Cards .HeaderText h2::selection{
    background-color: #cc0d39;
    color: #fff;
}


.Section_Cards .HeaderText  .ul_ul{
 list-style: none;   
 display: flex;
 border: 1px solid #000;
border-radius: 20px;
padding: 8px  ;
background-color: #FEEB9D;
}

.Section_Cards .HeaderText .List ul li{
    margin-right: 20px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    transition: 0.5s;
padding: 8px ;
    border-radius: 50px;
    text-align: center;
}
@media(max-width:400px){
    .Section_Cards .HeaderText .List ul li{
        margin-right: 0px;
    }
}
@media(max-width:335px){
    .Section_Cards .HeaderText .List ul li{
        margin-right: 1px;
        width: 20%;
        padding: 4px ;
    }
}

.Section_Cards .HeaderText .List ul li:hover {
    background-color: #000;
    color: #fff;
   
}

.Section_Cards .HeaderText .List ul li:first-child{
    background-color: #000;
    padding: 8px 33px;
    color: #fff;
    border-radius: 50px;
    transition: 0.5s;
}

.Section_Cards .HeaderText .List ul li:first-child:hover{
    background-color: #fff;
    color: #000;
}

.Section_Cards .Cards_Card img{
width: 300px;
height: 400px;
border-radius: 20px;
margin-bottom: 8%;
transition: 0.5s;
}

.Section_Cards .Cards_Card .col-md-3 {
    position: relative;
    transition: 0.5s;
}
.Section_Cards .Cards_Card .col-md-3:hover .info{
    top: 10%;
margin-right: 1%;
}


.Section_Cards .Cards_Card .col-md-3 .info{
    position: absolute;
    top: 300%;
    left: 6%;
     border-radius: 10px;
     transition: 0.6s;
}
  
.Section_Cards .Cards_Card .col-md-3 .info  .caption{
padding: 80px ;
    width: 100%;
    height: 100%;
}

  
.Section_Cards .Cards_Card .col-md-3 .info  .caption h6{
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    padding: 7px 15px;
    cursor: pointer;
    transition: 0.5s;
}

.Section_Cards .Cards_Card .col-md-3 .info  .caption h6:hoveR{
    background-color: #ec0a0a;
    color: #fff;
}
.Section_Cards .Cards_Card .col-md-3 .info  .caption i{
margin-left: 14%;
margin-bottom: 10%;
margin-top: 2%;
padding: 8px;
color: #000;
background-color: #fff;
border-radius: 50%;
transition: 0.5s;
cursor: pointer;
}
.Section_Cards .Cards_Card .col-md-3 .info  .caption i:hover{
    background-color: #ec0a0a;
    color: #fff;
}



.Section_Cards .Cards_Card .footer_content{
 margin-left: 3%;
 margin-bottom: 10%;
}


.Section_Cards .Cards_Card .footer_content  h3{
    font-size: 25px;
    transition: 0.5s;
    font-weight: 700;
}
.Section_Cards .Cards_Card .footer_content  h3:hover{
    color: #fd2424d8;
    cursor: pointer;
}

.Section_Cards .Cards_Card .footer_content span{
    position: absolute;
    left:84%;
    bottom: 8%;
    font-weight: 700;
}
@media (max-width:440) {
    .Section_Cards .Cards_Card .footer_content span{
        position: absolute;
        left:50%;
        bottom: 8%;
        font-weight: 700;
    }
}





.Section_Cards  .Cards_Card  .icon_ic h6{
background-color: #fff;
padding: 9px 16px;
border-radius: 14px;
margin-left: 10px;
}   


/*-------------Start style Popup-view in section cards-------------*/
/**/

.Section_Cards .popup-View {
    position: absolute;
    top: 13%;
   
}

.Section_Cards .popup-View .popup-Card{
    position: relative;
 
}

.Section_Cards .popup-View .popup-Card .close{
    position: absolute;
    left: 97%;
    top: 4%;
    z-index: 1222;
    cursor: pointer;
}


.Section_Cards .popup-View .popup-Card .img_back{
    position: relative;
}


.Section_Cards .popup-View .popup-Card img{
    width: 500px;
    margin-left: 55px;
    height: 550px;
    cursor: pointer;
    border-radius: 10px 0 0 10px;   
}
.Section_Cards .popup-View .popup-Card .img_back   .top img{
    transition: transform 0.3s ease;
}
.Section_Cards .popup-View .popup-Card .img_back:hover img{
    transform: scale(0.9)
}



.Section_Cards .popup-View .img_Click{
    position: absolute;
    left: 15%;
    top: 2%;
    
}

.Section_Cards .popup-View .img_Click img{
    width: 80px;
    margin-left: 0;
    height: 80px;
    border-radius: 10px ;
    border: 1px solid #fff;
}



.Section_Cards .popup-View  .popup-Card {
    display: flex;
   justify-content: center;
   border-radius: 10px;
}

.Section_Cards .popup-View .popup-Card .info_popup{
    width: 45%;
    height: 93%;
    border-radius:  0 8px 8px 0 ;
   background-color: #fff;
   text-align: start;
}


.Section_Cards .popup-View .popup-Card .info_popup h6{
text-align: start;
margin-left: 8%;
margin-top: 5%;
background-color: #000;
border-radius: 6px;
color: #fff;
width: 25%;
padding: 10px 15px;
}
.Section_Cards .popup-View .popup-Card .info_popup h6::selection,
.Section_Cards .popup-View .popup-Card .info_popup h1::selection,
.Section_Cards .popup-View .popup-Card .info_popup p::selection,
.Section_Cards .popup-View .popup-Card .info_popup span .inf::selection,
.Section_Cards .popup-View .popup-Card .info_price_quantity  .Quantity .info_Qun h1::selection,
.Section_Cards .popup-View .popup-Card .info_price_quantity  .price h3::selection,
.Section_Cards .popup-View .popup-Card .info_price_quantity  .price span::selection ,
.Section_Cards .popup-View .popup-Card .info_price_quantity  .price del::selection,
.Section_Cards .popup-View .popup-Card .info_price_quantity  .Quantity h3::selection,
.Section_Cards .popup-View .popup-Card  .footer_Quantity h4::selection,

.Section_Cards .popup-View .popup-Card  .footer_Quantity span::selection {
    background-color: #cc0d39;
    color: #fff;
}

.Section_Cards .popup-View .popup-Card .info_popup h1{
    margin-left: 8%;
    color: #000000;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 2%;
}

.Section_Cards .popup-View .popup-Card .info_popup span{
    margin-left: 8%;
font-size: 14px;
}
.Section_Cards .popup-View .popup-Card .info_popup span .chldren{
    color: #ecb719;
} 
.Section_Cards .popup-View .popup-Card .info_popup span .inf{
    margin-left: 2%;
}

.Section_Cards .popup-View .popup-Card .info_popup p{
    margin-left: 8%;
    margin-bottom: 3%;
    margin-top: 2%;
    font-weight: 500;
}

/*start style Hr */
.Section_Cards .popup-View .popup-Card .info_popup hr{
width: 90%;
border: 1px solid gray;
}
/*start style Hr */


/*start stayle Price and  quantity*/
/*start stayle Price */
.Section_Cards .popup-View .popup-Card .info_price_quantity {
    display: flex;
    margin-left: 8%;
    overflow: hidden;
}

.Section_Cards .popup-View .popup-Card .info_price_quantity  .price{
    margin-right: 10%;
}
.Section_Cards .popup-View .popup-Card .info_price_quantity  .price h3{
    font-weight: 700;
    font-size: 30px;
}
.Section_Cards .popup-View .popup-Card .info_price_quantity  .price span{
margin-left: 0;
font-weight: 700;
font-size: 20px;

}
.Section_Cards .popup-View .popup-Card .info_price_quantity  .price del{
    font-weight: 300;   
    font-size: 19px;
    color: gray;
}

/*start stayle quantity*/

.Section_Cards .popup-View .popup-Card .info_price_quantity  .Quantity .info_Qun{
display: flex;
margin-left:  8%;
justify-content: space-around;
align-items: center;
}

.Section_Cards .popup-View .popup-Card .info_price_quantity  .Quantity .info_Qun button {
    border: none;
    background-color: #000;
    color: fff;
    border-radius: 50%;
    padding: 7px ;
}

.Section_Cards .popup-View .popup-Card .info_price_quantity  .Quantity .info_Qun button i{
    color: #fff;
 
}
.Section_Cards .popup-View .popup-Card .info_price_quantity  .Quantity .info_Qun h1{
    margin-right: 5%;
    font-weight: 500;
    padding: 2px 6px ;
    border: 1px solid #000;
    border-radius: 50%;
}

.Section_Cards .popup-View .popup-Card  .footer_Quantity h4  {
font-size: 16px;
color: rgb(15, 14, 14);
font-weight: 500;

}

.Section_Cards .popup-View .popup-Card  .footer_Quantity span{
    font-size: 18px;
font-weight: 700;
color: #000;
margin-right: 1%;
}


.Section_Cards .popup-View .popup-Card   .footer_icon{
    margin-left: 10%;
    margin-bottom: 5%;
margin-top: 2%;
}

.Section_Cards .popup-View .popup-Card   .footer_icon i{
font-size: 20px;
    margin-right: 3%;
    cursor: pointer;
    transition: .5s;
}

.Section_Cards .popup-View .popup-Card   .footer_icon i:hover{
    color: #ecb719;
    font-size: 23px;
}








/*-------------End style Popup-view in section cards-------------*/


/*end style section3 Cards*/
/*------------------------------------------------------------------------------*/


/*start style section4 bacground*/

.Section_Background{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Section_Background .back_1{
    height: 100%;
    width: 100%;
    background-image: url(../Components//Pages//img/product1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    text-align: center;
}

.Section_Background .back_1 .backkk{
    margin-top: 22%;
    background-color: #fff;
    padding: 56px ;
    border-radius: 50%;
width: 55%;
text-align: center;
margin-left: 45%;
border: 1px solid #000;
text-transform: capitalize;
}


.Section_Background .back_1 .backkk p{
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
}

.Section_Background .back_1 .backkk h2{
    font-size: 35px;
    font-weight:700;
    text-transform: capitalize;
}

.Section_Background .back_1 .backkk span{
    font-size: 70px;
    text-transform: capitalize;
    font-weight: 600;
}

.Section_Background .back_1 .backkk .butto{
    transition: 0.6s;
    padding: 13px 28px;
    
}
.Section_Background .back_1 .backkk .butto:hover{
background-color: #000;
color: #fff;
}




.Section_Background .back_2{
    height: 84.5vh;
    background-image: url(../Components//Pages//img/product2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.Section_Background .back_2 .Teaxt{
    margin-top: 30%;
    margin-left: 9%;
}

.Section_Background .back_2 .Teaxt p{
    font-size: 23px;
    transition: 0.5s;
    color: #000;
    font-weight: 600;
    width: 40%;
}
.Section_Background .back_2 .Teaxt p:hover{
    background-color: #cc0d39;
    color: #fff;
  cursor: pointer;
}



.Section_Background .back_2 .Teaxt h1{
    font-size: 50px;
    font-weight: 700;
    transition: 0.5s;
    width: 70%;
    margin-bottom: 20px;
}
.Section_Background .back_2 .Teaxt h1:hover{
    background-color: #cc0d39;
    color: #fff;
  cursor: pointer;  
}

.Section_Background .back_2 .Teaxt .butto:hover{
    background-color: #000;
}

/*end style section4 bacground*/
/*------------------------------------------------------------------------------*/

/**----------------- start  section5 Photo------------------------*/


.section_Checked{
width: 100%;
height: 100%;
overflow: hidden;
margin-top: 8%;
margin-bottom: 7%;
background-color: #f3ebd2c6;
}  

.section_Checked .img_img img{
    transition: 0.4s;
margin-left: 5%;
border-radius: 50% 50% 0 0 ;
height: 500px;
width: 400px;
}

.section_Checked .img_img img{
    overflow-clip-margin: content-box;
    overflow: clip;
}
.section_Checked .img_img img:hover{
    transform:scale(0.9);
}


.section_Checked  .text_contet{
    text-align: start;
    margin-left: 10%;
    margin-top: 7%;
font-weight: 800;
color: #000000;
}

.section_Checked  .text_contet h1::selection{
    background-color: #cc0d39;
    color: #fff;
}


.section_Checked .container_img img{
    width: 220px;
    height: 240px;
    margin-left: 20%;
    margin-top: 14%;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.6s;
}
.section_Checked .container_img img:hover{
transform: scale(1.1);
}

.section_Checked .container_img .text_img{
    display: flex;
    justify-content: space-between;
    width: 100%;
   margin-top: 9%;
   margin-left: 20%;
}
.section_Checked .container_img .text_img p{
    color: #cc0d39;
    font-weight: 700;
}

.section_Checked .container_img .text_img span{
    color:#000 ;
    font-weight: 500;
}

.section_Checked .container_img .text_img h6{
    font-size: 20px;
    font-weight: 700;
}

.section_Checked .container_img .text_img del{
    font-size: 18px;
    font-weight: 600;
}
/**----------------- end  section5 Photo------------------------*/
/*------------------------------------------------------------------------------*/


/**----------------- start  section6 Photoback------------------------*/

.Section_6 {
    overflow: hidden;
    background-color: #fffaf3;
    margin-bottom: 10%;
}

.Section_6 h1{
    margin-top: 3%;
    margin-left: 10%;
font-size: 45px;
font-weight: 600;
}


.Section_6 h1::selection{
    background-color: #cc0d39;
    color:#fff;
}


 


.Section_6 .photo_1{
    background-image: url(../Components/Pages/img/pror.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    height: 80vh;
    margin-top:5%;  
}

.Section_6 .photo_1 .photo_text{
    display: block;
    margin-top: 20%;
    margin-left: 60%;
}

.Section_6 .photo_1 .photo_text p{
    background-color: #fff;
    width: 60%;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 800;
}

.Section_6 .photo_1 .photo_text h2{
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
}
 
  
.Section_6 .photo_1 .photo_text .BUUTO_BTN{
    pad: 15px 40px;
    border-radius: 13px;
}



.Section_6 .photo_2{
    background-image: url(../Components/Pages/img/pic8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    margin-top:5%;
}


.Section_6 .photo_2 .photo_text_2{
    float: right;
    text-align: center;
    margin-right: 10%;
    margin-top: 20%;
}

.Section_6 .photo_2 .photo_text_2 p{
    background-color: #fff;
    border-radius: 6px;
    font-weight: 700;
    padding: 10px 20px ;
}

.Section_6 .photo_2 .photo_text_2 h1{
    font-weight: 400;
}
.Section_6 .photo_2 .photo_text_2 span{
    font-size: 75px;
font-weight:700;
}

.Section_6 .photo_2 .photo_text_2 .butto{
    padding: 15px 25px;
    border-radius: 20px;
}

.Section_6 .photo_2 .photo_text_2 .butto:hover{
    background-color: #fff;
    color: #000;
}

/**----------------- end  section6 Photoback------------------------*/
/*------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------*/
/***start style  section7 img*/

.section_7{
    width: 100%;
    height: 100%vh;
    overflow: hidden;
    margin: 50px 0;
}

.section_7 h1{
    margin-bottom: 5%;
    margin-left: 6%;
    font-size: 38px;
    font-weight: 700;
text-transform: capitalize;
}

.section_7 h1::selection{
    background-color: #cc0d39;
    color: #fff;
}

.section_7 .dz_image{
    position: relative;
    margin-left:20%;
}

.section_7 .dz_image .image_1{
    width: 260px;
    height:260px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.section_7 .dz_image img{
    transition: 0.4s;
}



.section_7 .dz_image:hover img{
    transform: scale(1.1);
}




.section_7 .dz_image .image_2{
 position: absolute;
top: 25%;
 left: 25%;
 z-index: 2222;
 cursor: pointer;
}


.section_7  .col-md-3 .background{
    width: 260px;
    height:260px;
    border-radius: 10px;
    background-color: #0000004f;
    position: absolute;
    top: 0;
left:23% ;
cursor: pointer;
}

.section_7 .col-md-3 .Instor_btn{
    position: absolute;
    top: 2%;
    left: 78%;
}

.section_7 .col-md-3 .Instor_btn .btn{
    background-color: #fff;
    color: #000;
    border: none;
    padding: 7px 15px;
border-radius: 20px;
cursor: pointer;
transition: 0.5s ;
z-index: 5678;
}
  
.section_7 .col-md-3 .Instor_btn .btn:hover{
    background-color: #383838;
    color: #fff;
}




/***end style  section7 img*/
/*------------------------------------------------------------------------------*/

/***end style  section8 Latest Post img*/
.section_8_lastesr_post{
width: 100%;
height: 100%;
overflow: hidden;
background-color: #efe5c4;
margin-bottom: 2%;
} 


.section_8_lastesr_post .title_text{
    margin-left: 5%;
    margin-bottom: 18px;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
}
.section_8_lastesr_post .title_text::selection,
.section_8_lastesr_post  .col-md-6 p::selection{
    background-color: #cc0d39;
    color: #fff;
}


.section_8_lastesr_post  .col-md-6 p{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    margin-left: 10%;
}

.section_8_lastesr_post .button_bt{
    background-color: #000;
    color: #fff;
  margin-left: 60%;
    padding: 12px 35px;
    margin-bottom: 10%;
    border-radius:15px ;
}

.section_8_lastesr_post .col-md-5{
    position: relative;
}

.section_8_lastesr_post .col-md-5 .image_img img{
    width: 500px;
    height: 600px;
    margin-right: 5%;
    border-radius: 20px;
    margin-bottom: 10%;
}
     
.section_8_lastesr_post .col-md-5 .Z_index_info{
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 15px;
    width:85%; 
    text-align: start;
    position: absolute;
    right: 12%;
    top: 60%;
}


.section_8_lastesr_post .col-md-5 .Z_index_info .info_top{
    margin-bottom: 5%;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    padding: 5px 15px;
    font-size: 16px;
}

.section_8_lastesr_post .col-md-5 .Z_index_info span i{
    font-size: 13px;
}

.section_8_lastesr_post .col-md-5 .Z_index_info h2::selection{
background-color: #cc0d39;
color: #fff;
}

/*--------col-md-7*/


.col-md-7 .image_and_info {
    display: flex;
    justify-content: space-between;
}
.col-md-7 .image_and_info .im_g img{
    width: 250px;
    height: 250px;
    margin-top: 11%;
    margin-left: 23%;
    border-radius: 20px 0 0 20px;
    transition: 0.5s;
}

.col-md-7 .image_and_info .im_g:hover img{
    transform: scale(1.1);
}
 


.col-md-7 .image_and_info .inffoo{
    width: 50%;
   margin-top: 5%;
   background-color: #fff;
   height: 45vh;
   border-radius: 0 20px 20px 0;
   margin-bottom: 10%;
}

.col-md-7 .image_and_info .inffoo h2::selection{
    background-color: #cc0d39;
    color: #fff;
}




.col-md-7 .image_and_info .inffoo .par{
font-size: 16px;
background-color: #000;
color: #fff;
padding: 10px 20px;
border-radius: 10px;
}


/***end style  section8 Latest Post img*/



/*------------------------------------------------------------------------------*/

/*start hr-----------------*/
hr{
    border: 1px solid #000;
    margin-top: 6%;
    margin-bottom: 6%;
}
/* End hr-----------------*/
/*------------------------------------------------------------------------------*/

/*** Start Style Footer*/

.Foooter_Section{
    width: 100%;
    height: 100%;
    overflow: hidden;
background-color: #fdf4d9d0;
}
.Foooter_Section .logo_svg{
    margin-bottom: 7%;
margin-left:8%;
}

.Foooter_Section .Footer_content{
    margin-top: 3%;
}  

.Foooter_Section .Footer_content .foter_text ul li{
list-style: none;
 text-align: start;
 line-height: 35px;
 margin-left: 10px;
}

.Foooter_Section .Footer_content .foter_text ul li::selection{
    background-color: #cc0d39;
    color: #fff;
    border-radius: 5px;
    
}

.Foooter_Section .Footer_content .foter_text input{
border: none;
padding: 10px 25px;
margin-left: 8%;
border: 1px solid #000;
border-radius: 10px;
transition: 0.5s;
background-color: #cf9b01;
margin-bottom: 10px;
}  

.Foooter_Section .Footer_content .foter_text input::placeholder{
    color: #fff;
}

.Foooter_Section .Footer_content .foter_text input:hoveR{
    cursor: pointer;
    border: 3px solid #ecb719;
}


.Foooter_Section .Footer_content .col-md-3 .info_card{
    display: flex;
 margin-bottom: 2%;
}
.Foooter_Section .Footer_content .col-md-3 h3{
    margin-bottom: 8%;
    font-size: 25px;
    font-weight: 500;
    font-family: "Rubik", 'sans-serif';
}
.Foooter_Section .Footer_content .col-md-3 h3::selection,
.Foooter_Section .Footer_content .col-md-3 p::selection,
.Foooter_Section .Footer_content .col-md-3 span::selection,
.Foooter_Section .Footer_content .col-md-3 span::selection,
.Foooter_Section .Footer_content  .footer_2  ul li::selection,
.Foooter_Section .Footer_content  .footer_2 h2::selection{
    background-color: #cc0d39;
    color: #fff;
}

.Foooter_Section .Footer_content .col-md-3 h3:hover,
.Foooter_Section .Footer_content .col-md-3 p:hover,
.Foooter_Section .Footer_content .col-md-3 span:hover,
.Foooter_Section .Footer_content  .footer_2  ul li:hover,
.Foooter_Section .Footer_content  .footer_2 h2:hover{
color: #cc0d39;
cursor: pointer;
}

.Foooter_Section .Footer_content .col-md-3 .info_card img{
width: 60px;
height: 60px;
min-width: 60px;
border-radius: 10px;
margin-right: 15px;
margin-top: 5%;
}

.Foooter_Section .Footer_content .col-md-3 p{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    font-family: "Rubik", 'sans-serif';
    transition: 0.4s;
}
.Foooter_Section .Footer_content .col-md-3 span{
    font-size: 14px;
    font-weight: 400;
    color: #393838;
    font-family: "Rubik", 'sans-serif';
    transition: 0.4s;
}
  
/*===============*/

.Foooter_Section .Footer_content  .fooot {
width: 80%;
}

.Foooter_Section .Footer_content  .footer_2 h2{
margin-bottom: 10%;
font-size: 25px;
font-weight: 500;
font-family: "Rubik", 'sans-serif';
transition: 0.4s;
margin-left: 20px;
}
.Foooter_Section .Footer_content  .footer_2  ul{
    list-style: none;
margin: 0;
padding: 0;
}

.Foooter_Section .Footer_content  .footer_2  ul li{
    font-size: 15px;
    line-height: 2.4;
    font-weight: 500;
    transition: 0.4s;
    margin-left: 20px;
}



/*===============Footer_End==================*/
/* start hr_footer*/
.hr_footer{
border: 1px solid rgba(222, 218, 218, 0.733);
margin-bottom: 3%;
}
/* start hr_footer*/


.Foooter_Section .footer_end{
text-align: center;
margin-bottom: 1%;
}

.Foooter_Section .footer_end .right p{
font-size: 17px;
font-weight: 600;
font-family: "Open Sans", 'sans-serif';
}

.Foooter_Section .footer_end .right ::selection,
.Foooter_Section .footer_end .left .imge_footerend span::selection{
    background-color: #cc0d39;
    color: #fff;
}

.Foooter_Section .footer_end .right span{
    color: #cc0d39;
}

.Foooter_Section .footer_end .right span::selection{
    background-color: #000;
    color: #cc0d39;
}


.Foooter_Section .footer_end .left .imge_footerend span{
    font-size: 15px;
    font-weight: 600;
    font-family: "Open Sans", 'sans-serif';
}


/***End  Style Footer */
/*------------------------------------------------------------------------------*/
