.img{
height: 320px;
width: 290px;
margin-left: 30%;
border-radius: 30%;
margin-bottom: 60px;
}

.contanire_btn{
    position: relative;
}

.contanire_btn .btn{
 position: absolute;
bottom: 20%;
left: 40%;
transition: 0.5s;
}

.contanire_btn .btn:hover{
    background-color: #000;
    color: #fff;
    border: none;
}


/*========================*/



/*maxWidth912px*/
@media (Max-width:913px) {
    .img {
        height: 368px;
        width: 338px;
        margin-left: 31%;
        border-radius: 30%;
        margin-bottom: 70px;
    }

    .contanire_btn .btn {
        padding: 12px 30px;
        position: absolute;
        bottom: 27%;
        left: 46%;
        transition: 0.5s;
        font-size: 26px;
    }
}


/*Maxwidth769px*/
@media (Max-width:769px){
    .img {
        height: 320px;
        width: 316px;
        margin-left: 18%;
        border-radius: 30%;
        margin-bottom: 70px;
    }

    .contanire_btn .btn {
        position: absolute;
        bottom: 28%;
        left: 42%;
        transition: 0.5s;
    }
}


/*MaxWidth-431px*/
@media (Max-width:431px) {
    .img {
        height: 320px;
        width: 288px;
        margin-left: 18%;
        border-radius: 30%;
        margin-bottom: 70px;
    }

    .contanire_btn .btn {
        position: absolute;
        bottom: 23%;
        left: 41%;
        transition: 0.5s;
    }

}
 /*maxeidth-414px*/

 @media (Max-width:415px) {
    .img{
        height: 250px;
        width: 200px;
        margin-left: 30%;
        border-radius: 30%;
        margin-bottom: 60px;
        }
        
        .contanire_btn{
            position: relative;
        }
        
        .contanire_btn .btn{
         position: absolute;
        bottom: 25%;
        left: 40%;
        transition: 0.5s;
        }
        
        .contanire_btn .btn:hover{
            background-color: #000;
            color: #fff;
            border: none;
            padding: 5px 15px;
        }
        
 }
   /*max-width-413 */
   @media (Max-width:413px) {
    .img{
        height: 259px;
        width: 212px;
        margin-left: 24%;
        border-radius: 30%;
        margin-bottom: 68px;
        }
        
        .contanire_btn{
            position: relative;
        }
        
        .contanire_btn .btn{
         position: absolute;
        bottom: 23%;
        left: 36%;
        transition: 0.5s;
        }
        
        .contanire_btn .btn:hover{
            background-color: #000;
            color: #fff;
            border: none;
            padding: 5px 15px;
        }
   }


 /*Max-width-376*/
@media (Max-width:376px) {


    .img{
        height: 200px;
        width: 150px;
        margin-left: 30%;
        border-radius: 30%;
        margin-bottom: 60px;
        }
        
        .contanire_btn{
            position: relative;
        }
        
        .contanire_btn .btn{
         position: absolute;
        bottom: 25%;
        left: 35%;
        transition: 0.5s;
        }
        
        .contanire_btn .btn:hover{
            background-color: #000;
            color: #fff;
            border: none;
            padding: 5px 15px;
        }
        
}